body{
    background-image: url("../imagenes/nalu-mobile-tablet.jpg");
    background-repeat: no-repeat;
 +  background-position: center;
 +}
 +header{
 +  font-family: 'Raleway', sans-serif;
 +  text-align: center;
 +}
 +header nav ul li{
 +  list-style: none;
 +  margin: 10px 10px 10px 10px;
 +}
 +a:visited {
 +  color: blue;
 +}
 +.home{
 +  font-weight: bold;
  }
  .container{
    font-family: 'Raleway', sans-serif;
    color: #99c2ff;
 +  box-sizing: border-box;
    max-width: 350px;
    margin: auto;
 -  padding-bottom: 10px;
  }
 -
 -/*@media (min-width: 768px){
 +.main {
 +  background: rgba(0, 0, 0, 0.5);
 +  padding: 5px 10px 10px 10px;
  }

 +@media (min-width: 768px){
 +  header nav ul li{
 +    display: inline;
 +  }
 +}

  @media (min-width: 992px){
